<div id="header">
    <div class="container">
        <div class="section1">
            <a class="logo"></a>
            <div class="searchForm">          
            </div>
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{ shoppingCart.length }}</span>
                </div>
                <!--end shopping-cart-header -->
                <ng-template [ngIf]="shoppingCart.length >= 1">
                    <div class="shoppingCartContainer">
                        <ul class="shopping-cart-items" *ngFor="let item of (shoppingCart);let i = index" [attr.data-index]="i">
                            <li class="clearfix">
                                <img src="assets/img/{{ shopItems[item-1].image }}" alt="{{ shopItems[item-1].name }}">
                                <span class="item-name">{{ shopItems[item-1].name }}</span>
                                <span class="item-price">{{ shopItems[item-1].price }}€</span>
                            </li>
                        </ul>
                
                        <a href="#" class="button">Checkout</a>
                    </div>
                </ng-template>
            </div>
            <!--end shopping-cart -->
        </div>
        <nav>
            <ul>
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="banner">
    <div class="bannerImg">
        <div class="container">
            <div class="row">
                <div class="bannerText">
                    <span>
                        <h1>20-50%</h1>
                    </span>
                    <span>Rabatt auf Trikots der englischen Liga</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="footer"></div>